@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Ubuntu:wght@300;400;500;700&display=swap");

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container-fluid-lg {
  padding: 8% 15%;
}

.container-fluid {
  padding: 3% 15% 8%;
}

.heading-primary {
  font-family: "Montserrat", sans-serif;
  font-size: 5.6rem;
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: 1.5px;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 600;
}

/* Nav bar */
.navbar {
  margin-bottom: 8.6rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  font-weight: 500;
}

.nav-item:not(:last-child) {
  margin-right: 3rem;
}

.nav-link {
  font-size: 1.8rem;
  font-weight: 400;
}

/* Title Section */
#title {
  background: linear-gradient(
    to right bottom,
    rgba(255, 130, 89, 1) 0%,
    rgba(255, 76, 103, 1) 40%
  );
  color: #fff;
}

.title-heading {
  margin-bottom: 4rem;
}

.col-right {
  position: relative;
}

/* Title Image */
.title-img {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  /* top: 0;
  left: 8%; */
  right: 25%;
}

/* Download Buttons */
.download-button {
  font-size: 1.6rem;
}

.apple-btn {
  margin-right: 1.5rem;
}

/* Features Section */
#features {
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.feature-box {
  text-align: center;
  margin-bottom: 4rem;
}

.feature-icon {
  margin-bottom: 2rem;
  transition: filter 0.2s;
}

.feature-icon:hover {
  filter: brightness(1.3);
}

.feature-text {
  color: #8f8f8f;
  font-size: 1.6rem;
  width: 80%;
  margin: 0 auto;
}

.col-lg-4:last-child {
  margin-bottom: 0;
}

/* Linear Gradient: see - https://codepen.io/fontawesome/pen/BEKpBy */

.svg-settings {
  /* Hiding this content since it's just settings. See - https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* linear gradient */
.fill-gradient-linear path {
  fill: url(#linear);
}

/* setting colors for linear gradient */
.linear-stop1 {
  stop-color: #ef8172;
}

.linear-stop2 {
  stop-color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  text-align: center;
  /* height: 85vh; */
  /* Photo by Kojirou Sasak Unsplash
   */
  background: linear-gradient(
    to right bottom,
    rgba(255, 130, 89, 1) 0%,
    rgba(255, 76, 103, 1) 40%
  );
  color: #fff;
  font-size: 1.6rem;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

/* Carousel */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
}

.carousel-item {
  padding: 12rem 25rem;
}

/* Press Section */

#press {
  padding: 3rem 0;
}
.press-logo {
  width: 12%;
  filter: brightness(0) invert(1);
  opacity: 0.5;
  padding: 0 1rem;
}

/* Pricing Section */
#pricing {
  font-size: 1.6rem;
  padding: 12rem;
  text-align: center;
}

.pricing-heading,
.card .heading-secondary {
  background-color: #ff4c68;
  background-image: linear-gradient(#ef8172, #ff4c68);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.pricing-col {
  padding: 3% 2%;
}

.card {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.pricing-text {
  color: #8f8f8f;
  font-size: 1.6rem;
}

.pricing-btn {
  font-size: 1.6rem;
  margin: 1rem;
}

/* CTA Section */
#cta {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 76, 103, 0.85),
      rgba(255, 76, 103, 0.85)
    ),
    url(../images/dogs-kissing.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.cta-heading {
  margin-bottom: 5rem;
}

/* Media Queries */
/* 1200px */
@media (max-width: 75em) {
  .container-fluid-lg {
    padding: 12rem 13%;
  }

  .container-fluid {
    padding: 5rem 13%;
  }

  .navbar {
    margin-bottom: 6rem;
  }

  .heading-primary {
    font-size: 5.2rem;
  }

  .carousel-item {
    padding: 12rem 12rem;
  }
}

/* 992px */
@media (max-width: 62em) {
  html {
    font-size: 56.25;
  }

  .container-fluid-lg {
    padding: 12rem 6%;
  }

  .container-fluid {
    padding: 5rem 6% 13%;
  }

  .navbar-brand {
    font-size: 3rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
    margin-top: 5rem;
  }

  .press-logo {
    width: 18%;
  }

  .testimonial-img {
    width: 20%;
  }

  #pricing {
    padding: 8rem 5rem;
  }

  .pricing-subtitle {
    margin-bottom: 3rem;
  }

  .empty-p {
    display: none;
  }
}

@media (max-width: 36em) {
  .container-fluid-lg {
    padding: 10rem 6%;
  }

  .container-fluid {
    padding: 3rem 6% 13%;
  }

  .heading-testimonial {
    font-size: 2.8rem;
  }

  .heading-secondary {
    font-size: 2.8rem;
  }

  .title-heading {
    font-size: 4rem;
  }

  .apple-btn {
    margin-right: 0;
  }

  .download-button {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .carousel-item {
    padding: 10rem 4rem;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    margin-top: 10rem;
  }

  .testimonial-img {
    width: 25%;
  }

  #pricing {
    padding: 8rem 3rem;
  }
}
