@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Ubuntu:wght@300;400;500;700&display=swap");

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container-fluid-lg {
  padding: 12rem 25.2rem;
}

.container-fluid {
  padding: 5rem 25.2rem;
}

.heading-primary {
  font-family: "Montserrat", sans-serif;
  font-size: 5.6rem;
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: 1.5px;
  margin-bottom: 3rem;
}

.heading-secondary {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Nav bar */
.navbar {
  margin-bottom: 7.2rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  font-weight: 500;
}

.nav-item:not(:last-child) {
  margin-right: 3rem;
}

.nav-link {
  font-size: 1.8rem;
  font-weight: 400;
}

/* Title Section */
#title {
  background-color: #ff4c68;
  color: #fff;
  overflow: hidden;
}

/* Title Image */
.title-img {
  width: 50%;
  transform: rotate(25deg);
}

/* Download Buttons */
.download-button {
  font-size: 1.6rem;
}

.apple-btn {
  margin-right: 1.5rem;
}

/* Features Section */

.feature-box {
  text-align: center;
  margin-bottom: 4rem;
}

.feature-icon:not(:last-child) {
  margin-bottom: 2rem;
  transition: filter 0.2s;
}

.feature-icon:hover {
  filter: brightness(1.3);
}

.feature-text {
  color: #8f8f8f;
  font-size: 1.4rem;
}

/* Linear Gradient: see - https://codepen.io/fontawesome/pen/BEKpBy */

.svg-settings {
  /* Hiding this content since it's just settings. See - https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* linear gradient */
.fill-gradient-linear path {
  fill: url(#linear);
}

/* setting colors for linear gradient */
.linear-stop1 {
  stop-color: #ef8172;
}

.linear-stop2 {
  stop-color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  text-align: center;
  background: linear-gradient(to right, #ff8259, #ff4c68);
  color: #fff;
  font-size: 1.6rem;
}

.testimonial-img {
  width: 15%;
  border-radius: 100%;
  margin: 2rem;
}

/* Carousel */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
}

.carousel-item {
  padding: 12rem 25.2rem;
}

/* Press Section */
#press {
  text-align: center;
  background: linear-gradient(to right, #ff8259, #ff4c68);
}

.press-logo {
  width: 10%;
  filter: brightness(0) invert(1);
  opacity: 0.4;
  margin: 5rem 4rem;
}
